
<%= form_with(model: [post, comment], url: post_comments_path(@post)) do |f| %>
    <%= f.text_area :content, style: "text-align: center;", class: "form-control" %>
    <p><%= f.submit "コメントする", style: "text-align: center;", class: "btn btn-primary form-control" %></p>
<% end %>