<% provide(:title, "発注完了") %>
<div class="container">
    <div class="completed">
        <h3>発注が完了しました。</h3>
        <div class="links">
            <%= link_to ">>発注一覧を見る", orders_index_path %>
            <p><%= link_to ">>品目一覧に戻る", products_path %></p>
        </div>
    </div>
</div>