<h3 class="text-center">通知</h3>
<% if @notifications.exists? %>
    <%= render @notifications %>
    <%= paginate @notifications %>
<% else %>
    <div class="no-notification">
        <h4>通知はありません</h4>
    </div>
<% end %>
