<% if buyer_signed_in? %>
    <% if post.liked_by_buyer?(current_buyer)%>
        <p><span class="glyphicon glyphicon-heart" style="color: red;"></span><%= link_to post.likes.count, post_likes_path(post.id), method: :delete, remote: true %></p>
    <% else %>
        <p><span class="glyphicon glyphicon-heart-empty"></span><%= link_to post.likes.count, post_likes_path(post.id), method: :post, remote: true %></p>
    <% end %>
<% elsif producer_signed_in? %>
    <% if post.liked_by?(current_producer)%>
        <p><span class="glyphicon glyphicon-heart" style="color: red;"></span><%= link_to post.likes.count, post_likes_path(post.id), method: :delete, remote: true %></p>
    <% else %>
        <p><span class="glyphicon glyphicon-heart-empty"></span><%= link_to post.likes.count, post_likes_path(post.id), method: :post, remote: true %></p>
    <% end %>
<% end %>
