<div class="container">
    <h1>生産者一覧</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>写真</th>
            <th>屋号</th>
            <th>メールアドレス</th>
            <th>プロフィール</th>
        </tr>
        <% @producers.each do |producer|%>
        <tr>
            <td><%= link_to producer.id, producer_path(producer) %></td>
            <td></td>
            <td><%= link_to producer.company_name, producer_path(producer) %></td>
            <td><%= producer.email %><td>
            <td><%= producer.description %><td>
        </tr>
        <% end %>
    </table>
</div>