/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



header{
    background-color: chocolate;
    margin-top: -20px;
}

footer{
    width: 100%;
    background-color: gray;
    padding: 10px 0;
    // position: absolute;/*←絶対位置*/
    // bottom: 0; /*下に固定*/
    margin-top: auto;
}
.navlist{
    background-color: antiquewhite;
}
.sidebar{
	background-color: rgba(190,176,152,0.4);
	min-height: 150vh;
	margin: 30px 0;
    position: relative;
}
.producer_search, .buyer_search, .product_search{
    margin: 20px 0;
}

.col-lg-7.col-lg-offset-2 {
    margin-bottom: 40px;
    border-bottom: solid 1px #dcdcdc;
    .image{
        margin: 20px 0;
        float: left;
    }
}

.left-message{
    text-align: left;
}

.right-message{
    text-align: right;
}
.right-link{
    text-align: right;
}
.pull-left{
    float: none !important;
}

.post-index{
    margin: 30px 0 ;
    border: solid 1px #dcdcdc;
    border-radius: 1em;
}
.post-content{
    margin: 10px 20px;
}
.comment-area{
    border-top: solid 1px #dcdcdc;
    margin: 10px 20px;
}
li{
    list-style: none;
    margin: 10px 20px;
}

.form-control{
    width: 30%;
    display: inline;

}
.post-form{
    border-bottom: solid 1px #dcdcdc;
    padding-bottom: 30px;
}
.comment-form{
    form{
        width: 100%;
        text-align: center;
    }
}
.comment-container{
    padding: 10px;
    margin: 20px 60px;
    background-color: #f6f6f6;
}

// product周辺
.new_product, .producer-products{
    margin: 20px 60px;
}
.producer-products{
    table{
        width: 90%;
        th{
            text-align: center;
        }
        tr{
            text-align: center;
        }
    }
}

// producer周辺
.producer-info{
    margin-bottom: 20px;
    table{
        min-height: 30vh;
    }
    td{
        padding: 10px;
    }
    th{
        padding: 10px;
        width: 20%;
    }
}
.producer-product-index{
    border-bottom: solid 1px gray;
    margin-bottom: 30px;
}
.products{
    border-top: solid 1px gray;
    .row{
        margin-left: 90px;
    }
    li{
        border-bottom: solid 1px gray;
        width: 30%;
    }
}
