/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1, h2, h3, a{
    color: gray;
}

// header周辺
header{
    padding-top: 20px;
    h2{
        float: left;
        padding-left: 60px;
        margin-bottom: 30px;
    }
    .nav-pills {
        float: right;
        padding-right: 40px;
        li{
            float: none;
            display: inline-block;
        }
        a{
            color: gray;
        }
    }
}

// navlist
.navlist{
    background-color: antiquewhite;
    width: 100%;
    ul{
        text-align: center;
        margin: 20px 50px;
    }
    li{
        display: inline;
        margin: 0 60px;
        .btn{
            padding: 10px 30px;
            background-color: rgba(190, 176, 152, 0.4);
            border: none;
        }
        .btn-primary:hover{
            background-color: ivory;
            color: #696969;
        }
        .btn-primary:active{
            background: glay;
        }
        a{
            color: gray;
        }
    }
}

// footer
footer{
    width: 100%;
    background-color: gray;
    padding: 10px 0;
    // position: absolute;/*←絶対位置*/
    // bottom: 0; /*下に固定*/
    margin-top: auto;
}
// home-top
.top-index{
    .row{
        margin: 0 auto;
    }
}
// home-select
.select_registration{
    h3{
        padding-bottom: 30px;
    }
    .btn-success {
        width: 200px;
        margin: 60px 100px;
        padding: 30px 0;
        font-size: 25px;
    }
}

// sidebar
.sidebar{
	background-color: rgba(190,176,152,0.4);
	min-height: 120vh;
	margin: 30px 0;
    position: relative;
}
.producer_search, .buyer_search, .product_search{
    margin: 20px 0;
}

.col-lg-7.col-lg-offset-2 {
    margin-bottom: 40px;
    border-bottom: solid 1px #dcdcdc;
    .image{
        margin: 20px 0;
        float: left;
    }
}
// producer
.btn-primary{
    padding: 10px 30px;
    background-color: rgba(190, 176, 152, 0.4);
    border: none;
    color: #696969;
}
.btn-primary:hover{
    background-color: #fdf5e6;
    color: #696969;
}
.btn-primary:active{
    background: glay;
}

.producer-info{
}

.right-link{
    text-align: right;
}
.pull-left{
    float: none !important;
}

// post
.new_post{
    margin-top: 40px;
    text-align: center;
    .form-control{
        width: 50%;
        margin: 10px;
    }
    input[type="file"]{
        margin: 0 auto;
    }
}


.post-index{
    margin: 40px auto ;
    border: solid 1px #dcdcdc;
    border-radius: 1em;
    width: 80%;
    h3{
        padding: 20px 0;
    }
    p{
        margin-left: 20px;
        padding-bottom: 30px;
    }
    .like-buttons{
        text-align: right;
    }
}
.post-content{
    margin: 10px 20px;
}
.comment-area{
    border-top: solid 1px #dcdcdc;
    margin: 10px 20px;
}
.comment-form{
    border-top: solid 1px #dcdcdc;
    margin: 20px 20px;
    li{
        text-align: center;
        padding-top: 20px;
        .form-control{
            width: 50%;
            margin: 0 auto;
        }
    }
}
li{
    list-style: none;
    margin: 10px 20px;
}

.form-control{
    width: 30%;
    display: inline;
    
}
.post-form{
    border-top: solid 1px #dcdcdc;
    padding-bottom: 30px;
}
.comment-container{
    padding: 10px;
    margin: 20px 60px;
    background-color: #f6f6f6;
}

.left_message{
    text-align: left;
    background-color: #dcdcdc;
    border-radius: 1em;
    border: none ;
    margin-bottom: 20px ;
    padding: 15px 0 10px 20px;
}
.right-message{
    text-align: right;
    word-wrap: normal;
    background-color: lightgreen;
    border-radius: 1em;
    border: none ;
    padding: 15px 20px 10px 0;
    margin-bottom: 20px;
    h4{
        text-align: left;
        padding-left: 30px;
    }

}
.chat-index{
    padding-top: 30px;
    .row{
        margin-bottom: 30px;
    }
}
.new_message{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .btn-success{
        width: 30%;
    }
}


// product周辺
.new_product, .producer-products{
    margin: 20px 60px;
}
.producer-products{
    table{
        width: 90%;
        th{
            text-align: center;
        }
        tr{
            text-align: center;
        }
    }
}
.edit_product{
    table{
        margin: 0 auto;
    }
    .form-control{
        width: 400px;
    }
    .buttons{
        padding-top: 40px;
    }
}
.order-form{
    p{
        padding-top: 20px;
    }
    h3{
        padding-top: 150px;
    }
}

// producer周辺
.producer-info{
    margin-bottom: 20px;
    table{
        min-height: 30vh;
    }
    td{
        padding: 10px;
    }
    th{
        padding: 10px;
        width: 20%;
    }
}
.producer-product-index{
    border-bottom: solid 1px gray;
    margin-bottom: 30px;
}
.products{
    border-top: solid 1px gray;
    .row{
        margin-left: 90px;
    }
    li{
        border-bottom: solid 1px gray;
        width: 30%;
    }
}
.product-form{
    width: 100%;
    text-align: -webkit-center;
    th{
        padding-right: 30px;
    }
    .form-control{
        width: 400px;
    }
    .btn-success{
        width: 370px;
    }
}

// buyer
.edit_buyer{
    padding-left: 200px;
    padding-bottom: 50px;
    table{
        padding-bottom: 30px;
        border-collapse: unset;
        th{
            padding-bottom: 20px;
        }
    }
    .form-control{
        width: 100%;
    }
    textarea.form-control{
        height: 80px;
        width: 400px;
    }
    .btn{
        padding: 10px 30px;
        margin-left: 100px;
    }
    input[type="submit"]{
        padding: 10px 30px;
        margin-left: 100px;
    }
}

// order
.completed{
    text-align: center;
    padding-top: 100px;
    h3{
        margin-bottom: 60px;
    }
}
// order_product
.order_table{
    width: 100%;
    text-align: center;
    table{
        margin: 40px auto;
        width: 80%;
        th{
            text-align: center;
        }
        td{
            height: 100px;
        }
    }
}
.order-product-index{
    padding: 40px 0 0 30px;
    table{
        border-collapse: collapse;
        th{
            border: solid 1px black;
        }
        td{
            border: solid 1px black;
        }
    }
}
.producer-order-index{
    h3{
        margin-left: 100px;
    }
    width: 100%;
    margin: 0 auto;
    table{
        text-align: center;
        margin: 30px auto;
    }
    th{
        text-align: center;
    }
    td{
        width: 120px;
        height: 120px;
    }
}