// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content-box{
    line-height: 4;
    box-sizing: border-box;
    margin-left: 20%;
    margin-top: 100px;
    width: 60%;
    height: 400px;
    background-color: rgba(244, 244, 244, 0.699);
    padding: 20px;
    text-align: center;
    color: #005645;
    h3{
        padding-bottom: 30px;
        color: #005645;
    }
}