<header>
    <h2>つなグルメ</h2>
<% if producer_signed_in? %>
    <nav>
        <ul class="nav nav-pills">
            <li>トップ</li>
            <li>マイページ</li>
            <li>受注一覧</li>
            <li>チャット</li>
            <li>ログアウト</li>
        </ul>
    </nav>
<% elsif buyer_signed_in? %>
    <nav>
        <ul class="nav nav-pills">
            <li>トップ</li>
            <li>マイページ</li>
            <li>発注</li>
            <li>発注一覧</li>
            <li>チャット</li>
            <li>ログアウト</li>
        </ul>
    </nav>
<% else %>
    <nav>
        <ul class="nav nav-pills">
            <li><%= link_to "生産者でログイン", new_producer_session_path %></li>
            <li><%= link_to "バイヤーでログイン", new_buyer_session_path %></li>
            <li><%= link_to "新規登録", sign_up_path %></li>
        </ul>
    </nav>
<% end %>
</header>