<div class="navlist">
    <nav>
        <ul>
            <li><%= link_to "生産者をさがす", producers_path, class: "btn btn-primary" %></li>
            <li><%= link_to "バイヤーをさがす", buyers_path, class: "btn btn-primary"  %></li>
            <li><%= link_to "品目でさがす", products_path, class: "btn btn-primary"  %></li>
            <li><%= link_to "投稿一覧", posts_path, class: "btn btn-primary"  %></li>
        </ul>
    </nav>
</div>