<div class="navlist">
    <nav>
        <ul class="nav nav-pills">
            <li><%= link_to "生産者をさがす", producers_path %></li>
            <li><%= link_to "バイヤーをさがす", buyers_path %></li>
            <li><%= link_to "品目でさがす", products_path %></li>
            <li><%= link_to "投稿一覧", posts_path %></li>
        </ul>
    </nav>
</div>