<div class="nav">
    <nav>
        <ul class="nav nav-pills">
            <li>生産者をさがす</li>
            <li>バイヤーをさがす</li>
            <li>品目でさがす</li>
            <li>投稿一覧</li>
        </ul>
    </nav>
</div>